STEAM_USERNAME=
STEAM_PASSWORD=
TARGET_STEAMID=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_NUMBER=
TARGET_PHONE_NUMBER=

DISCORD_TOKEN=
DISCORD_CLIENT_ID=

INTERVAL_SECONDS=1
INACTIVE_TRESHOLD_MINUTES=30
MAX_ALLOWED_SKIPPED_INTERVALS_CONSECUTIVE=10
MAX_ALLOWED_ERRORS_CONSECUTIVE=5